article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


//variables

$fontStack: 'Amatic SC', cursive;
//general styles

.wrapper {
    width: 85%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}


body {
     // @media (max-width: 320px;)
    font-family: $fontStack;
    background-image: url(assets/boards.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
        h2{
            font-size: 30px;
            margin: 10% 0 5% 0;
            
        }
        h3{
            font-size: 20px;
            font-weight: bold;
            margin: 10% 0 5% 0;
        }
        p{
            font-size: 25px;
            margin: 0;
        }
        @media(max-width: 415px){
            body{
                padding: 20px;
                margin-top: 40px;
            }
        }     
}


// header
header .wrapper{
    border: 3px solid blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#weatherIcon{
    width: 6%;
    margin-top: 3%;
    
    
}

.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location{
    margin-bottom: 5%;
}

.locationSearch{
    display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
        .wrapper{
            display: flex;
            align-items: center;
        }
    @media (max-width: 580px){
        form{
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
        }
    }
    
    @media (max-width: 320px) {
        .wrapper{
            width: 50%;
        }
    }
}

//header end



button, input {
     // @media (max-width: 320px;)
    line-height: normal;
    width: 150px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border:none;
}
 input {
    border: 2px solid darkgrey;
        ::-webkit-input-placeholder{
            font-weight: bold;
            font-size: 22px;
        }
    
}

 //displayResponse styles
 #displayResponse .wrapper{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

.display, .forecastDisplay{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 10px 5px;
    padding: 5px;
    width: 50%;
     @media (max-width: 375px){
        font-size: 15px;

        }
        
}
.display{
    font-weight: bold;
}

.social .wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
        .twitter-share-button, .twitter-follow-button{
            margin: 5px;
        }
}
.resetButton{
    display: flex;
    justify-content: center;     
    
        p{
            font-size: 18px;
        }
        button{
            border: 2px solid grey;
            width: 50px;
            border-radius: 50%;
            height: 50px;

        }
        
}

.nameStyle{
    font-weight: bold;
    font-size: 50px;
}
footer{
    margin: 20px;
    text-align: center;
    p{
        font-size: 14px;
    }
}